.bedSheetWrap {
    display: flex;
    margin-top: 100px;
    background-image:
        url(../../../../assets/Image-home-page/bedsheet-image.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 510px;

    .bedSheetTxtWrap {
        display: flex;
        z-index: 1;
        background-color: rgba(white, 0.8);
        width: 545px;
        height: 340px;
        margin-left: 130px;
        margin-top: 90px;
        padding-left: 120px;
    }

    .bedSheettxt {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
        align-items: flex-start;

        .h1 {
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 28px;
            line-height: 30px;
            color: #323334;
        }

        .amount {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;

            .amount-1 {
                font-family: "Roboto", sans-serif;
                font-size: 28px;
                font-weight: 700;
                line-height: 30px;
                color: #7B5136;
            }

            .amount-2 {
                font-family: "Roboto", sans-serif;
                font-size: 19px;
                font-weight: 700;
                color: #7B5136;

                s {
                    color: #7B5136;
                }
            }
        }

        p {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 300;
            color: #323334;
            text-align: left;
        }

        button {
            border-width: 1px;
            width: 125px;
            height: 45px;
            border-color: black;
            background-color: transparent;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
        }
    }
}

.product-image-2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}


.topRatingWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
   


    .topRating {
        font-family: Roboto;
        font-size: 34px;
        font-weight: 700;
        line-height: 39.84px;
        align-self: flex-start;
        padding-left: 319px;
    }

    .topRatingProductsWrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 100px;
        position: relative;
        top: 50px;
    }

    .txt-2 {
        width: 125px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        text-align: left;
    }
    .txt-3 {
       
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
    }
.conteiner-2{display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;}
}
@media (max-width: 859px){
    .topRatingWrap{
    .topRatingProductsWrap{
        display: flex;
    flex-direction: column;
    }
}
}
@media (max-width: 859px){
    .bedSheetWrap{
    .bedSheetTxtWrap{
        margin-left: 0;
        padding-left: 45px;
    }
}
}